# Build and Release Folders
bin/
bin-debug/
bin-release/
*.class
*.java~
.DS_Store
node_modules/
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.log
*.out
*.synctex.gz
*.cls
README.html

# Other files and folders
.settings/
Java-Implementation/

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
